<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fbyovgfss4j31hc0u0dni.jpg" alt="photo1">
      <div class="carousel-caption">
        <h1>BETTER OFFER</h1>
        <p>If you're better, just get BETTER OFFER.</p>
        <p><a class="btn btn-lg btn-danger" href="/jobs">Apply Now</a></p>
      </div>
    </div>

    <div class="item">
      <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fbyov6ls3hj30xc0go76w.jpg" alt="photo2">
      <div class="carousel-caption">
        <h1 class="title">BETTER OFFER</h1>
        <p class="slogan">If you're better, just get BETTER OFFER.</p>
        <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">Apply Now</a></p>
      </div>
    </div>

    <div class="item">
      <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fbyouz3ylrj30p00gjdrk.jpg" alt="photo3">
      <div class="carousel-caption">
        <h1 class="title">BETTER OFFER</h1>
        <p class="slogan">If you're better, just get BETTER OFFER.</p>
        <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">Apply Now</a></p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a href="#myCarousel" class="left carousel-control" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a href="#myCarousel" class="right carousel-control" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<section id="Our Company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>北京朝阳建外SOHO</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>info@18koffer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=bAQJ8dfF4&l=y.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>010-12344321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
